body{
    background-color: rgb(4, 198, 175);
}

fieldset{
    display:block;
    margin: 0 auto;
    width: 50%;
    height: 18vh;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 200px;
}

input{
    margin: 0 auto;
    width: 98%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
}

p{
    font-weight: 600;
    font-size: larger;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: black;
  }

  .ghost-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border: none;
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }